<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Budget App</title>
    <!-- Enlace al archivo CSS -->
    <link rel="stylesheet"  href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    x
<ion-header>
    <ion-toolbar>
      <ion-title>Budget App</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <div class="container">
      <h1>Welcome to the Budget App</h1>
      <p>This is a simple budget application.</p>
      <ion-button expand="full" color="primary">Get Started</ion-button>
    </div>
  </ion-content>

</body>
</html>